*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family:'Source Serif Pro', serif;
}

.container{
	height:100vh;
	width:100%;
	background-image:url("https://tse3.mm.bing.net/th?id=OIP.-QdP_9UgQrk_CXqjvXewCAHaEK&pid=Api&P=0");
	background-size:cover;
	background-position:center;
}

nav{
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:15px;

}
.logo{
	color:aliceblue;
	font-weight:bold;
	letter-spacing: 5px;
	

}

span{
	color:red;
	font-weight:bolder;
}

ul li {
	display:inline-block;
	list-style:none;
	
}

li a{
	color:white;
	font-weight:bold;
	padding:8px;
	text-decoration:none;
	font-size:12px;
}

li a:hover{
	color:magenta;

}
.btn{
	color:aliceblue;
	background-color: darkred;
	font-weight:bolder;
	font-style:italic;
	border:1px slod black;
	border-radius:6px;
	padding:3px 6px;
	transition:transform .4s;

}

.btn:hover{
	background-color: cornflowerblue;
	color:black;
	transform:scale(1.2);
}

.pic{

	position:relative;
	display:inline-block;
	margin:70px;
}
 img{
	
	width:120px;
	
	
	
	
}
.content{
	margin:45px;
	display:inline-block;
	width:40%;
}

h3{
	font-size:8px;
	color:white;
}
h1{
	color:white;
	font-weight:bold;
	margin-left:15px;
}
h4{
	color:white;
	margin-left:50px;
}
input{
	margin:5px;
	margin-left:55px;
	font-size:10px;
	width:60%;
	padding:5px;
	border-radius:10px;
	text-align:center;
	
}
.submit{
	font-size:10px;
	border-radius: 10px;
	padding:5px;
	background-color: coral;
	color:blue;
	font-weight:bolder;
	transition: transform .4s;
}
.submit:hover{
	transform: scale(1.2);
	background-color: coral;
}

